%form.center-block.form-authentication
  %h2= t('authentications.sign_in')
  %input.form-control{type: :email,    placeholder: t('authentications.email')}
  %input.form-control{type: :password, placeholder: t('authentications.password')}
  %input#remember_me{type: :checkbox}
  %label{for: :remember_me}= t('authentications.remember_me')
  %button.btn.btn-primary-outline{type: :submit}= t('authentications.sign_in')

  = link_to t('authentications.sign_up'), sign_up_path
  = link_to t('authentications.forgot_password'), new_password_path
