= form_for :password_reset,
  url: reset_password_path(token: @user.reset_password_token),
  html: { method: :post, class: 'center-block form-authentication' } do |f|

  %h2= I18n.t('authentications.update_password')

  .validated-input#password
    = f.password_field :password, placeholder: I18n.t('authentications.new_password'),
      'data-parsley-class-handler' => '#password',
      class: 'form-control', required: true, minlength: 8,
      id: 'password_reset_password'

  .validated-input#confirm_password
    = f.password_field :confirm_password, placeholder: I18n.t('authentications.confirm_password'),
      'data-parsley-class-handler' => '#confirm_password',
      class: 'form-control', required: true, 'data-parsley-equalto'=> '#password_reset_password'

  = f.submit I18n.t('authentications.update_password'), class: 'btn btn-primary-outline'
