= form_for :reset_password, url: reset_password_instructions_path,
  html: { class: 'center-block form-authentication' } do |f|

  %h2= I18n.t('authentications.reset_password')

  .validated-input#email
    = f.email_field :email, placeholder: I18n.t('authentications.email'),
      'data-parsley-class-handler' => '#email',
      class: 'form-control', required: true

  = f.submit I18n.t('authentications.reset_password'), class: 'btn btn-primary-outline'

  = link_to I18n.t('authentications.sign_in'), sign_in_path
