.row
  .file-drop
    .col-sm-1.status

    = form_for :torrent, url: torrents_path,
      html: { class: 'col-sm-9', multipart: true } do |f|

      .info
        %h4.drag.text-xs-center= I18n.t('torrents.drag_drop')
        %h5.text-xs-center= I18n.t('or')
        %h5.text-xs-center= I18n.t('torrents.click_upload')

      .response
        %h4.drag.text-xs-center= 'Response Placeholder'

      = f.file_field :torrent_file, class: 'attachment'
