.row
  .torrent-header
    .col-sm-1.status
    .col-sm-3.text-xs-left
      %h1.title= 'Torrents'

.row
  .torrents
    - torrents.each do |torrent|
      = link_to torrent_path(torrent) do
        .torrent
          .col-sm-1.torrent-status{ class: torrent.status }
          .col-sm-8
            = torrent.name
          .col-sm-3.stats
            %span.percentage
              %span= torrent.percentage
              %span.sign= '%'
            %span.usage
              %span= torrent.size_status[0...-2]
              %span.unit= torrent.size_status[-2..-1]
