.torrent
  = link_to torrent_path(torrent), method: :delete,
    class: "col-xs-1 torrent-status #{torrent.status}",
    data: { confirm: 'Are you sure?' } do
    %i.fa.fa-trash-o
  - if torrent.status == :done
    = link_to download_torrent_path(torrent), target: '_blank', class: 'col-xs-8' do
      %i.fa.fa-download
      &nbsp;
      = torrent.name
  - else
    .col-xs-8
      %i.fa.fa-download
      &nbsp;
      = torrent.name
  .col-xs-3.stats
    %span.percentage
      %span= torrent.percentage
      %span.sign= '%'
    %span.usage
      %span= torrent.size_status[0...-2]
      %span.unit= torrent.size_status[-2..-1]
