!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    %title CVT
    = csrf_meta_tags
    -# = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body
    .container
      %nav.navbar
        = link_to :root, class: 'navbar-brand' do
          %i.fa.fa-empire.btn.btn-outline
        .pull-xs-right
          - if logged_in?
            %form.form-inline
              = link_to :dashboard, class: 'controls' do
                %i.fa.fa-home.btn.btn-outline
              = link_to :user, class: 'controls' do
                %i.fa.fa-user.btn.btn-outline
              = link_to :sign_out, method: :delete, class: 'controls' do
                %i.fa.fa-lock.btn.btn-danger-outline
          - else
            = link_to :sign_in, class: 'controls' do
              %i.fa.fa-unlock-alt.btn.btn-success-outline

      = render partial: 'layouts/flashes', locals: { flash: flash }
      = yield
